# Docker host configuration
DOCKER_HOST_IP=192.168.10.10
DOCKER_HOST_PORT=3101

# Server configuration
SERVER_NAME=EvolutionAPI
SERVER_TYPE=http
SERVER_PORT=8080
SERVER_URL=http://192.168.10.10:3101
SERVER_DISABLE_DOCS=true
SERVER_DISABLE_MANAGER=false
LANGUAGE=pt-BR

# Cors config
CORS_ORIGIN=*
CORS_METHODS=POST,GET,PUT,DELETE,OPTIONS
CORS_CREDENTIALS=true

# Databae config
DATABASE_PROVIDER=postgresql
DATABASE_USER=evolution
DATABASE_PASSWORD=evolutionpass
DATABASE_DB=evolution_api
DATABASE_CONNECTION_URI=postgresql://evolution:evolutionpass@prod_evo_postgres:5432/evolution_api
DATABASE_CONNECTION_CLIENT_NAME=prod_evolution_api

DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=true
DATABASE_SAVE_DATA_CHATS=true
DATABASE_SAVE_DATA_HISTORIC=true
DATABASE_SAVE_DATA_LABELS=true
DATABASE_SAVE_IS_ON_WHATSAPP=true
DATABASE_SAVE_IS_ON_WHATSAPP_DAYS=7
DATABASE_DELETE_MESSAGE=false

# Redis config
REDIS_PASSWORD=redispass
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://:redispass@prod_evo_redis:6379
CACHE_REDIS_PREFIX_KEY=evolution-cache
CACHE_REDIS_TTL=604800
CACHE_REDIS_SAVE_INSTANCES=true

CACHE_LOCAL_ENABLED=true
CACHE_LOCAL_TTL=86400

# Auth config
AUTHENTICATION_API_KEY=
AUTHENTICATION_EXPOSE_IN_FETCH_INSTANCES=true

# Logging configuration
LOG_LEVEL=ERROR,WARN,DEBUG,INFO,LOG,VERBOSE,DARK,WEBHOOKS,WEBSOCKET
LOG_COLOR=true
LOG_BAILEYS=error

# Instance config
DEL_INSTANCE=false
DEL_TEMP_INSTANCES=true

# Websocket config
WEBSOCKET_ENABLED=true
WEBSOCKET_GLOBAL_EVENTS=true
WEBSOCKET_ALLOWED_HOSTS=

# QrCode
QRCODE_LIMIT=30
QRCODE_COLOR=#198754

# Whatsapp config
CONFIG_SESSION_PHONE_CLIENT=Evolution
CONFIG_SESSION_PHONE_NAME=Evolution
CONFIG_SESSION_PHONE_VERSION=2.3000.1028788854

# Chatwot config
CHATWOOT_ENABLED=true
CHATWOOT_MESSAGE_DELETE=false
CHATWOOT_MESSAGE_READ=true
CHATWOOT_BOT_CONTACT=true
CHATWOOT_IMPORT_PLACEHOLDER_MEDIA_MESSAGE=false
