PROXMOX_VE_ENDPOINT='https://proxmoxve:8006/'
PROXMOX_VE_API_TOKEN='user@realm!tokenid=tokenvalue'
PROXMOX_VE_TLS_INSECURE='true'

ROS_HOSTURL='https://router.local'
ROS_USERNAME='user'
ROS_PASSWORD='password'
ROS_INSECURE='true'
