# Docker host configuration
DOCKER_HOST_IP=192.168.10.10
DOCKER_HOST_PORT=3102

# App environment configuration
NODE_ENV=production
RAILS_ENV=production
INSTALLATION_ENV=docker

# Postgres database configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=chatwoot
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

# Chatwoot configuration
SECRET_KEY_BASE=bb4c4d1c6a75e4e624a2b9ef8c3f1f92f98d687eeac9430bfe2b8475e17acfb4f52a1f2f8b2b46bdbdcf7c78c18965a1b7a18e8cc91c62e4c3d8d52cc35dfcb2
FRONTEND_URL=http://192.168.10.10:3102
FORCE_SSL=false
ENABLE_ACCOUNT_SIGNUP=false
RAILS_MAX_THREADS=5

# Redis config
REDIS_URL=redis://redis:6379
REDIS_PASSWORD=redis

# Email outgoing configuration
MAILER_SENDER_EMAIL=No-Reply <noreply@seudominio.com.br>
SMTP_DOMAIN=seudominio.com.br
SMTP_ADDRESS=smtp.seudominio.com.br
SMTP_PORT=587
SMTP_USERNAME=noreply@seudominio.com.br
SMTP_PASSWORD=sua_senha_forte
SMTP_AUTHENTICATION=plain
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE=none

# Storage
ACTIVE_STORAGE_SERVICE=local

# Log settings
RAILS_LOG_TO_STDOUT=true
LOG_LEVEL=info
LOG_SIZE=500

## Mobile app env variables
IOS_APP_ID=L7YLMN4634.com.chatwoot.app
ANDROID_BUNDLE_ID=com.chatwoot.app
ANDROID_SHA256_CERT_FINGERPRINT=AC:73:8E:DE:EB:56:EA:CC:10:87:02:A7:65:37:7B:38:D4:5D:D4:53:F8:3B:FB:D3:C6:28:64:1D:AA:08:1E:D8
ENABLE_PUSH_RELAY_SERVER=true
